body {
  text-align: center;
  margin: 20% 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 100px;
}

button {
  padding: 10px 30px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 45px;
  border: 1px solid black;
  cursor: pointer;
  transition: .3s ease-in-out;
}

button:hover {
  background-color: black;
  color: #fff;
  transition: .1s ease-in-out;
}